.search {
    width:100%;
    text-align: right;
    border-bottom: 1px solid black;
}

.div_input {
    float: left;
}

.input {
    margin: 5px;
}

.button {
    margin-right: 14px;
    background-color: white;
}
