.div {
    font-size: 20px;
    width:100%;
}

.button_1, .button_2 {
    width: 50%;
    background-color: white;
    margin: 0;
}

.button_1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button_select {
    background-color: rgb(241, 241, 241);
}